<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="server={0};database={1};uid={2};pwd={3}" providerName="System.Data.SqlClient"/>
    <add name="ConnLocal" connectionString="server=.\SHLX;database=SHLX;uid=sa;pwd=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>